@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* { box-sizing: border-box; margin: 0; padding: 0; }
body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background: linear-gradient(145deg, #5e7b8c, #49729b);
  min-height: 100vh;
}

/*Thanh menu chuyển trang*/
header {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background: rgba(39, 32, 116, 0.884);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  padding: 10px 40px;
  font-size: 1.2rem;
  width: fit-content;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #fff;
  text-shadow: 0 0 10px rgba(120, 140, 119, 0.349);
}

.wrap {
  max-width: 1100px;
  margin: 100px auto 60px;
  padding: 0 20px;
  text-align: center;
}
.wrap h1 { font-size: 1.8rem; margin-bottom: 20px; }

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

/* các thông số cho các khung */
.card {
  flex: 1 1 180px;
  max-width: 200px;
  background: rgba(41, 6, 100, 0.45); 
  backdrop-filter: blur(10px);
  border-radius: 14px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}
.card:hover { transform: translateY(-4px); box-shadow: 0 12px 28px rgba(0,0,0,0.45); }

.label { font-size: 0.85rem; opacity: 0.85; margin-bottom: 4px; }

/* Khung vuông */
.circleChart {
  display: block;
  width: 100px !important;
  height: 100px !important;
  margin: 0 auto;
}

.chart-value {
  margin-top: 8px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
}

/* Line charts phía dưới */
.chart-title {
  margin-top: 60px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.chart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  margin-top: 30px;
  padding: 0 40px 80px;
}

.chart-card {
  background: rgba(4, 70, 36, 0.45);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.chart-card h3 {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 500;
}

canvas:not(.circleChart) {
  width: 100% !important;
  height: 250px !important;
}
